<!DOCTYPE html>
//- <!--
//- 	Future Imperfect by HTML5 UP
//- 	html5up.net | @ajlkn
//- 	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
//- -->
<html lang = "tr">
	<head>
		<title>utarid</title>
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="/stylesheets/index.css" />
		//-<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-1YB1Z3N9M7"></script>
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-1YB1Z3N9M7');

		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7474448200829549" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">


		//- <div id="wait" class="wait flex_center">
		//- 	<div id="wait_loader"></div>
		//- 	<div id="wait_loader_text" class="white"></div>
		//- 	<div id="wait_loader_time">
		//- 		<div class="values"></div>
		//- 	</div>
		//- </div>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<h1><a href="/">utarid</a></h1>
				<nav class="links">
					//- <ul id="ul_categories" class="ul_categories">
					<ul id="ul_categories">
					<div id="loader_ul_categories"></div>
						each category, i in categories
							<li><a href="/category/#{category.blog_category_name}" class="#{i > 0 ? 'a_category' : ''}">#{category.blog_category_name}</a></li>
					
					</ul>
				</nav>
			</header>

			<!-- Main -->
			<div id="main">
				each article in articles
					<article class="post">
						<header>
							<div class="title">
								<h2><a href="/single/#{article.article_web_title}">#{article.article_title}</a></h2>
								<!--<p>#{article.article_summary}</p>-->
							</div>
							<div class="meta">
								<time class="published" datetime="#{article.article_date}">#{formatDate(article.article_date)}</time>
								if formatDate(article.article_date) != formatDate(article.article_update_date)
									<time class="updated" datetime="#{article.article_update_date}">#{formatDate(article.article_update_date)}</time>
								<a href="#" class="author"><span class="name">#{article.author_name}</span><img src="https://i.ibb.co/5K7Myvm/avatar.jpg" alt="avatar" border="0"></a>
							</div>
						</header>
						<!--<a href="single/#{article.id}" class="image featured">#{article.article_image}</a>-->
						<a href="/single/#{article.article_web_title}" class="image featured">
							<img src="#{article.article_image}" alt="mysql" border="0">
						</a>
						<p>#{article.article_summary}</p>
						<footer>
							<ul class="actions">
								<li><a href="/single/#{article.article_web_title}" class="button large">devam</a></li>
							</ul>
							<ul class="stats">
								<li><a href="/category/#{article.blog_category_name}">#{article.blog_category_name}</a></li>
								<li><a href="#" class="icon solid fa-book-open">#{article.article_read}</a></li>
							</ul>
						</footer>
					</article>

				//- Pagination
				ul.actions.pagination
					li
						a.button.large.previous.disabled(href="") Önceki Sayfa
					
					- for (var i = 1; i <= pageCount; i++)
						li
							a(class=`pagination button large previous ${i == 1 ? 'on_page' : ''}`, id=`page_${i}`, onClick=`nextPageClicked(${i})`) #{i}
					
					if pageCount > 1
						li
							a.button.large.next#next_button(href="#", onClick="nextPageClicked(2)") Sonraki Sayfa
					else
						li
							a.button.large.next.disabled#next_button(href="#") Sonraki Sayfa
			</div>

			<!-- Sidebar -->
			<section id="sidebar">

				<!-- Intro -->
				<section id="intro" class="intro">
					<a href="#" class="logo"><img src="https://i.ibb.co/Yc9vnRk/logo.png" alt="logo" border="0"></a>
					<header>
						//- <h2>{#!}</h2>
						<p>kendime yazılım notları</p>
					</header>
				</section>

				<!-- Mini Posts -->
				<section>
					<div id="div_most_read_articles" class="mini-posts blurb">
						<h2>çok okunanlar</h2>
						each mostReadArticle in mostRead
							<article class="mini-post">
								<header>
									<h3><a href="/single/#{mostReadArticle.article_web_title}">#{mostReadArticle.article_title}</a></h3>
									<time class="published" datetime="#{mostReadArticle.article_date}">#{formatDate(mostReadArticle.article_date)}</time>
									<a href="#" class="author"><img src="https://i.ibb.co/5K7Myvm/avatar.jpg" alt="" /></a>
								</header>
								<a href="/single/#{mostReadArticle.article_web_title}" class="image"><img src="#{mostReadArticle.article_image}" alt="" /></a>
							</article>
					</div>
					<a href="/sitemap">site haritası</a>
				</section>

				<!-- Footer -->
				<section id="footer">
					<p class="copyright">tasarım: <a href="http://html5up.net">HTML5 UP</a>. logo: <a href="https://polarvectors.com">polar vectors</a>.</p>
				</section>

			</section>
		</div>
	</div>

	<!-- Scripts -->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/browser.min.js"></script>
	<script src="/javascripts/breakpoints.min.js"></script>
	<script src="/javascripts/util.js"></script>
	<script src="/javascripts/main.js"></script>
	<script src="/javascripts/easytimer.min.js"></script>
	<script src="/javascripts/index_client.js"></script>
	</body>
</html>
